
.cart-summary{
  margin-top:40px;
  display:flex;
  /* justify-content:space-between; */
  flex-direction: column;
  align-items:center;
  gap:18px;
}

.cart-total{
  font-size:1.6rem;
  font-weight:700;
  color:#1e5631;
}


.qty-box{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:12px;
  margin:10px 0;
}

.qty-box button{
  width:32px;
  height:32px;
  border:none;
  background:#2ecc71;
  color:white;
  border-radius:50%;
  font-size:18px;
  cursor:pointer;
}

.qty-box span{
  font-weight:600;
  font-size:1.1rem;
}

.remove-btn{
  background:#e74c3c;
  color:white;
  border:none;
  padding:8px 18px;
  border-radius:20px;
}