.checkout-page {
  min-height: 86vh;
  padding: 40px 20px;
  background:white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.checkout-container {
  width: 100%;
  max-width: 600px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-total {
  font-weight: bold;
  font-size: 18px;
  margin: 15px 0;
}

.address-box {
  margin-top: 20px;
}

.address-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  gap: 10px;
}

.row input {
  flex: 1;
}

.payment-box {
  margin-top: 20px;
}

.card-form input,
.upi-input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.pay-btn {
  width: 100%;
  margin-top: 35px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 600px) {

  .checkout-container {
    padding: 18px;
    border-radius: 14px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .checkout-item {
    font-size: 14px;
  }

  .checkout-total {
    font-size: 16px;
    margin: 10px 0;
  }

  .address-box input,
  .card-form input,
  .upi-input {
    padding: 9px;
    font-size: 14px;
  }

  .pay-btn {
    padding: 12px;
    font-size: 15px;
    margin-top: 18px;
  }

  .row {
    flex-direction: column;
  }
}
